ul{
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    
}
.type-list{
    padding-right: 30px;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    width: fit-content;
    margin-top: 4.5rem;
}
.type-list li img{
    width: 1rem ;
    height: 1rem;
}
.type-list li{
    filter: grayscale(1);
    
}
.type-list li:hover{
    cursor: pointer;
    filter: grayscale(0);
}

.type-list li.all:hover span{
    color: #3E75C3;
}
.type-list li.grass:hover span {
    color: var(--type-grass);
}
.type-list li.ghost:hover span{
    color: var(--type-ghost);
}
.type-list li.rock:hover span {
    color: var(--type-rock);
}
.type-list li.dragon:hover span {
    color: var(--type-dragon);
}
.type-list li.steel:hover span{
    color: var(--type-steel);
}
.type-list li.eletric:hover span{
    color: var(--type-electric);
}
.type-list li.water:hover span {
    color: var(--type-water);
}
.type-list li.fire:hover span {
    color: var(--type-fire);
}
.type-list li.bug:hover span {
    color: var(--type-bug);
}
.type-list li.dark:hover span {
    color: var(--type-dark);
}
.type-list li.fairy:hover span {
    color: var(--type-fairy);
}
.type-list li.flying:hover span {
    color: var(--type-flying);
}
.type-list li.fighting:hover span {
    color: var(--type-fighting);
}
.type-list li.normal:hover span {
    color: var(--type-normal);
}
.type-list li.poison:hover span {
    color: var(--type-poison);
}
.type-list li.ice:hover span {
    color: var(--type-ice);
}
.type-list li.ground:hover span {
    color: var(--type-ground);
}
.type-list li.psychic:hover span {
    color: var(--type-psychic);
}
.type-list li.ground:hover span {
    color: var(--type-ground);
}
.type-list li span{
    font-size: 1rem;
    margin-left: .375rem ;
}

