ul{
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    
}
.type-list{
    flex-direction: column;
    gap: .875rem;
    justify-content: center;
    width: fit-content;
    
}
.type-list li img{
    width: 1rem ;
    height: 1rem;
}
.type-list li{
    filter: grayscale(1);
    
}
.type-list li:hover{
    cursor: pointer;
    filter: grayscale(0);
}

.type-list li.all:hover span{
    color: #3E75C3;
}
.type-list li.ghost:hover span{
    color: var(--type-ghost);
}
.type-list li.stone:hover span {
    color: var(--type-rock);
}
.type-list li.dragon:hover span {
    color: var(--type-dragon);
}
.type-list li.steal:hover span{
    color: var(--type-steal);
}
.type-list li.eletric:hover span{
    color: var(--type-eletric);
}
.type-list li.water:hover span {
    color: var(--type-water);
}
.type-list li.fire:hover span {
    color: var(--type-fire);
}
.type-list li.bug:hover span {
    color: var(--type-bug);
}
.type-list li span{
    font-size: 1rem;
    margin-left: .375rem ;
}

