.card .img-background.ghost{
    background-color: #5957611A;
    color: var(--type-ghost);
}
.card .img-background.stone {
    background-color: #8BCEC11A;
    color: var(--type-rock);
}
.card .img-background.dragon {
    background-color: #2C6AC11A;
    color: var(--type-dragon);
}
.card .img-background.steal{
    background-color: #6594A11A;
    color: var(--type-steal);
}
.card .img-background.eletric{
    background-color: #EED9671A;
    color: var(--type-eletric);
}
.card .img-background.water {
    background-color: #88A3D41A;
    color: var(--type-water);
}
.card .img-background.fire{
    background-color: #E963031A;
    color: var(--type-fire);
}
.card .img-background.bug {
    background-color: #9BBA481A;
    color: var(--type-bug);
}

.card .img-background.fairy {
    background-color: #E296E11A;
    color: var(--type-fairy);
}
.card .img-background.fighting {
    background-color: #C44D611A;
    color: var(--type-fighting);
}
.card .img-background.ground {
    background-color: #CE80561A;
    color: var(--type-ground);
}
.card .img-background.ice{
    background-color: #8BCEC11A;
    color: var(--type-ice);
}
.card .img-background.normal{
    background-color: #A0A29F1A;
    color: var(--type-normal);
}
.card .img-background.poison{
    background-color: #AC6ACA1A;
    color: var(--type-poison);
}
.card .img-background.psychic{
    background-color: #EB8B851A;
    color:var(--type-psychic);
}
.card .img-background.grass{
    background-color: #5CA48A1A;
    color: var(--type-grass);
}
.card .img-background.flying{
    background-color: #A6BBE81A;
    color: var(--type-flying);
}
.card .img-background.dark{
    background-color: #5957611A;
    color: var(--type-dark);
}