footer{
    position: absolute;
    bottom: 0;
    background-color: #882020;
    width: 100%;
    bottom: 0;
    height: 8rem;
}
footer.left-part{
    margin-top: 3.4rem;
}
footer span{
    margin-left: .5rem;
    margin-top: 1rem;
}
footer h3{
    margin-top: 2.4rem;
    margin-left: 4rem;
}
footer h4{
    position: absolute;
    bottom: 3.4rem;
    right: 4rem;
}